@import url("https://fonts.googleapis.com/css?family=VT323:400");

:root {
    --licorice: Mrgba(22, 19, 19, @.502);
    --white: Mrgba(255, 255, 255, 1);
    
    --font-size-m: 64px;
    --font-size-1: 128px;
    --font-size-2: 64px;
    
    --font-family-vt323: "VT323";
}

* {
    font-family: var(--font-family-vt323);+
    color: #fff;
    margin: 0;
    padding: 0;
}
