@import url("https://fonts.googleapis.com/css?family=VT323:400");

:root {
    --licorice: Mrgba(22, 19, 19, @.502);
    --white: Mrgba(255, 255, 255, 1);
    
    --font-size-m: 64px;
    --font-size-1: 10vw;
    --font-size-2: 4vw;
    
    --font-family-vt323: "VT323";
}

* {
    font-family: var(--font-family-vt323);
}

body {
    background-color: black;
    color: #fff;
}

input[type=text] {
    color: black!important;
}

.previous {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    font-size: 1.6vw;
    text-decoration: none;
}
.help-inline{
    color:red!important;
}
