@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
    font-family: var(--font-family-vt323);
    align-items: center;
    background-color: #000000;
    border: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    color: white;
    font-size: 50px;
    justify-content: center;
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button {
    display: inherit;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    font-family: var(--font-family-vt323);
    text-decoration: none;
    justify-content: space-between;
    outline: none;
    color: #fff;
    background-color: #272927;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.button:hover {background-color: #0b0b0b}

.button:active {
    background-color: #080808;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.form-element {
    margin-top: 2%;
    margin-bottom: 10px;
}

.form-element label{
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 6px;
}

#fname, #sname {
    width: 100%;
}

.form-horizontal {
    width: 60%;
    height: 75%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: lightblue;
}

svg {
    width: 600px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden; 
    margin: 0 auto;
    background: black;
}

text {
    filter: url(#filter);
    fill: white;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 100px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 6px -4px 4px #FF0000;
}
