body {
  background-color: #000000;
  color: #fff;
}

table.minimalistBlack {
  border: 3px solid #fff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 10px;
}

table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #fff;
  padding: 5px 4px;
}

table.minimalistBlack tbody td {
  font-size: 13px;
}

table.minimalistBlack thead {
  background: #fff;
  border-bottom: 3px solid 000;
}

table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

table.minimalistBlack tfoot td {
  font-size: 14px;
}
